# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/
!/broadcast/*/31337/

# Docs
docs/

# Dotenv file
.env
.env.local

# Coverage
lcov.info
coverage/

# Node
node_modules/

# Debug info
*.dbg.json
*.tsbuildinfo

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Certora
.certora*
certora_*

# Analysis
analysis/slither/
analysis/mythril/
.anthropic_key
